---
import Layout from "../layouts/Layout.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import GmailIcon from "../icons/GmailIcon.astro";
import SocialPill from "../icons/SocialPill.astro";
import Badge from "../components/Badge.astro";
---

<Layout
	title="Tomas Martinez - Web Developer"
	description="Hire Tomi to develop your web application. Web developer and programming teacher."
>
	<main>
		<section class="w-full mx-auto lg:w-[840px] py-44">
			<img
				class="rounded-full w-20 h-20"
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg"
				alt="tomidev photo"
			/>
			<h1
				class="mb-1 text-white text-5xl font-bold flex flex-row gap-x-4 pb-1"
			>
				Hi, I'm Tomas Martinez
				<div class="flex justify-center items-center">
					<a
						href="https://www.linkedin.com/in/tomimartinez/"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge>Available for hire</Badge>
					</a>
				</div>
			</h1>

			<h2 class="text-2xl opacity-100 text-wrapper">
				<span class="text-yellow-300 opacity-85">Web Developer</span> and
				<span class="text-yellow-300 opacity-85"
					>Programming Teacher.</span
				> From Argentina.
			</h2>

			<nav class="flex gap-x-4 mt-7">
				<SocialPill href="https://www.linkedin.com/in/tomimartinez/">
					<LinkedinIcon class="w-4 h-4" />
					Linkedin
				</SocialPill>

				<SocialPill href="https://github.com/tomimartinez28">
					<GitHubIcon class="w-4 h-4" />
					GitHub
				</SocialPill>
				<SocialPill href="https://github.com/tomimartinez28">
					<GmailIcon class="w-4 h-4" />
					tomasagustinmartinez28@gmail.com
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
