---

import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Currently",
        title: "Programming and Web Development Teacher",
        description:
            "Instructed Python and Django to facilitate dynamic web application development with a focus on SQL databases. Emphasized hands-on learning and project-based assignments to enhance practical skills. Monitored student progress and provided constructive feedback for continuous improvement.",
        
    },
    {
        date: "Currently",
        title: "Administration and Assistant Accountant",
        description:
            "Managed Human Resources functions, overseeing tasks related to personnel management. Maintained accounting and financial information systems, ensuring accuracy and compliance with industry standards. Administered cost systems and contributed to efficient financial operations. Handled database administration responsibilities to support organizational data management.",
        
    },
    {
        date: "August 2022 - April 2023",
        title: "Programming Tutor",
        description:
            "Offered student support and guidance by creating a conducive environment for addressing technical inquiries. Provided assistance in navigating and understanding relevant information and documentation to enhance learning. Advised students on effective strategies for researching and accessing valuable resources in the field of programming.",
        
    },
    {
        date: "August 2022 - December 2022",
        title: "Project Manager",
        description:
            "Led project planning and management efforts, ensuring timely and successful project delivery. Organized and coordinated project teams, optimizing collaboration and productivity. Effectively communicated with clients, ensuring their expectations were met and concerns addressed. Proficient in utilizing various project management tools to streamline workflows and enhance overall project efficiency.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
