---

import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Currently",
        title: "Experience Title",
        description:
            "Get acces to over 20+ pages includin a fashboard layout, charts, kanban.",
        
    },
    {
        date: "February 2023",
        title: "Experience Title",
        description:
            "Get acces to over 20+ pages includin a fashboard layout, charts, kanban.",
        
    },
    {
        date: "February 2023",
        title: "Experience Title",
        description:
            "Get acces to over 20+ pages includin a fashboard layout, charts, kanban.",
        
    },
    {
        date: "February 2023",
        title: "Experience Title",
        description:
            "Get acces to over 20+ pages includin a fashboard layout, charts, kanban.",
        link: "#",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
